# build help
temp

# Code
.vscode
.fuse*

# Unimportant
__pycache__

# Created when run
mpich-download
mpich-install
jobs

# Web Stuff
src/web-app/frontend/node_modules
src/web-app/backend/node_modules

# Logs
*.log

# Commands
*.cmnd

# Environment variables
bin/env.sh
.env

# Cpp files
*.o
manager