# build help
temp

# Code
.vscode
.fuse*

# Unimportant
__pycache__

# Created when run
mpich-download
mpich-install

# Web Stuff
src/web-app/frontend/node_modules
src/web-app/backend/node_modules

# Logs
*.log

# Commands
*.cmnd
